go 1.24.4

toolchain go1.24.4

use (
	./frame/autoconfigure
	./frame/common
	./frame/config
	./frame/consul
	./frame/grpc
	./frame/logger
	./frame/orm
	./frame/redis
	./frame/web
	./gateway
	./notification
	./user
	traefik
)
