go 1.24.4

toolchain go1.24.4

use (
	./ht-frame/autoconfigure
	./ht-frame/common
	./ht-frame/config
	./ht-frame/consul
	./ht-frame/grpc
	./ht-frame/logger
	./ht-frame/orm
	./ht-frame/redis
	./ht-frame/web
	./ht-notification
	./ht-user
)
